<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="my-data.component.css">
<link rel="stylesheet" href="../../../../../assets/fonts.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<div class="cadastro-container poppins-regular">
    <h2 class="poppins-semibold">Dados cadastrais</h2>
    <div class="form-group">
        <label for="fullName">Nome completo:</label>
        <input type="text" id="fullName" name="fullName" placeholder="Digite seu nome completo" ngModel required [disabled]="!editing" value="Fulano de Tal">
    </div>
    <div class="form-group-row">
        <div class="form-group">
            <label for="dob">Data de nascimento:</label>
            <input type="date" id="dob" name="dob" ngModel required [disabled]="!editing" value="1990-01-01">
        </div>
        <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" placeholder="Digite seu CPF" ngModel required [disabled]="!editing" value="123.456.789-00">
        </div>
    </div>
    <div class="form-group-row">
        <div class="form-group">
            <label for="phone">Telefone celular:</label>
            <input type="tel" id="phone" name="phone" placeholder="Digite seu telefone celular" ngModel required [disabled]="!editing" value="(12) 34567-8901">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu email" ngModel required [disabled]="!editing" value="fulano@example.com">
        </div>
    </div>
    <div class="form-group-row">
        <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" ngModel required [disabled]="!editing">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Repita a senha:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Repita sua senha" ngModel required [disabled]="!editing">
        </div>
    </div>
    <button (click)="toggleEdit()">{{ editing ? 'Salvar' : 'Editar' }}</button>
    <form [attr.disabled]="!editing ? 'disabled' : null">
    </form>
</div>
