<div class="product-form-container poppins-regular">
    <h2>Cadastro de Produto</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" formControlName="name" required>
        </div>
        <div class="form-group">
            <label for="description">Descrição:</label>
            <input type="text" id="description" formControlName="description" required>
        </div>
        <div class="form-group">
            <label for="unitPrice">Valor Unitário:</label>
            <input type="number" min="0" id="unitPrice" formControlName="unitPrice" required>
        </div>

        <div class="form-group">
            <label for="image">Imagem do Produto:</label>
            <input type="file" id="image" formControlName="image">
        </div>

        <div class="form-group">
            <label for="promotion">Promoção:</label>
            <select id="promotion" formControlName="promotion" (change)="onPromotionChange($event)" required>
                <option value="nenhuma">Nenhuma</option>
                <option value="leve3pague2">Leve 3, Pague 2</option>
                <option value="pack">Pack</option>
            </select>
        </div>
        <div id="promotionDetails">
            <ng-container *ngIf="promotion === 'leve3pague2'">
                <div class="form-group">
                    <label>Válida nos dias:</label>
                    <div class="checkbox-group">
                        <label *ngFor="let day of days">
                            <input type="checkbox" [value]="day" formControlName="validDays"> {{day}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="promotionBanner">Banner de Promoção:</label>
                    <input type="file" id="promotionBanner" formControlName="promotionBanner">
                </div>
            </ng-container>
            <ng-container *ngIf="promotion === 'pack'">
                <div class="form-group">
                    <label for="endDate">Data de Término da Promoção:</label>
                    <input type="date" id="endDate" formControlName="endDate" required>
                </div>
                <div class="form-group">
                    <label for="minQuantity">Quantidade Mínima de Produtos:</label>
                    <input type="number" id="minQuantity" formControlName="minQuantity" required>
                </div>
                <div class="form-group">
                    <label for="promoPrice">Valor Promocional:</label>
                    <input type="number" id="promoPrice" formControlName="promoPrice" required>
                </div>
                <div class="form-group">
                    <label for="promotionBanner">Banner de Promoção:</label>
                    <input type="file" id="promotionBanner" formControlName="promotionBanner">
                </div>
            </ng-container>
            
        </div>

        

        <button type="submit">Cadastrar Produto</button>
    </form>
</div>
