<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="order-products.component.css">
<link rel="stylesheet" href="../../../../../assets/fonts.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
	rel="stylesheet">

<div class="order-products-container poppins-regular">
	<table class="order-products-table">
		<thead>
			<tr>
				<th>Produtos</th>
				<th>Preço Unitário</th>
				<th>Quantidade</th>
				<th>Subtotal</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="product-info">
						<div class="product-image"></div>
						<div class="product-details">
							<div class="product-title">Produto 1</div>
							<div class="product-description">Descrição do produto 1 em duas linhas.<br>Mais detalhes do
								produto.</div>
						</div>
					</div>
				</td>
				<td>R$ 100,00</td>
				<td>2</td>
				<td>R$ 200,00</td>
			</tr>
			<tr class="divider-row">
				<td colspan="4">
					<hr>
				</td>
			</tr>
			<tr>
				<td>
					<div class="product-info">
						<div class="product-image"></div>
						<div class="product-details">
							<div class="product-title">Produto 2</div>
							<div class="product-description">Descrição do produto 2 em duas linhas.<br>Mais detalhes do
								produto.</div>
						</div>
					</div>
				</td>
				<td>R$ 150,00</td>
				<td>1</td>
				<td>R$ 150,00</td>
			</tr>
			<tr class="divider-row">
				<td colspan="4">
					<hr>
				</td>
			</tr>
			<tr>
				<td>
					<div class="product-info">
						<div class="product-image"></div>
						<div class="product-details">
							<div class="product-title">Produto 3</div>
							<div class="product-description">Descrição do produto 3 em duas linhas.<br>Mais detalhes do
								produto.</div>
						</div>
					</div>
				</td>
				<td>R$ 200,00</td>
				<td>3</td>
				<td>R$ 600,00</td>
			</tr>

		</tbody>
	</table>
</div>