<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="product.component.html">
<link rel="stylesheet" href="../../../assets/fonts.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
	rel="stylesheet">

<div class="container poppins-regular">
	<div class="left-side">
		<div class="product-image"></div>
	</div>
	<div class="right-side" style="justify-content: space-around;">
		<h2 class="poppins-semibold">Nome do Produto</h2>
		<p class="description">
			Esta é a descrição do produto. Aqui você pode adicionar mais detalhes sobre o produto, como suas
			características e benefícios. Apenas quatro linhas de texto serão mostradas aqui.
			Esta é a descrição do produto. Aqui você pode adicionar mais detalhes sobre o produto, como suas
			características e benefícios. Apenas quatro linhas de texto serão mostradas aqui.
			Esta é a descrição do produto. Aqui você pode adicionar mais detalhes sobre o produto, como suas
			características e benefícios. Apenas quatro linhas de texto serão mostradas aqui.
		</p>
		<div class="price">
			<h2 class="poppins-semibold">R$ 99,99</h2>
		</div>
		<div class="actions">
			<div class="quantity-selector">
				<button class="quantity-button" (click)="decreaseQuantity()">-</button>
				<span class="quantity">{{ quantity }}</span>
				<button class="quantity-button" (click)="increaseQuantity()">+</button>
			</div>
			<button class="add-to-cart" (click)="addToCart()">Adicionar ao carrinho</button>
		</div>
	</div>
</div>