<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="login.component.css">
<link rel="stylesheet" href="../../../assets/fonts.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<div class="login-container poppins-regular">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email:</label>
            <input 
              type="email"
              id="username"
              name="username"
              formControlName="username"
            />
        </div>
        <div class="form-group">
                <label for="password">Senha:</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  formControlName="password"
                />
            </div>
        <button type="submit">Entrar</button>
    </form>
    <hr>
    <p class="subtitle">Ainda não tem conta?</p>
    <button class="signup-button" routerLink="/register">Cadastre-se</button>
</div>