<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="register.component.css">
<link rel="stylesheet" href="../../../assets/fonts.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<div class="cadastro-container poppins-regular">
    <h2 class="poppins-semibold">Dados cadastrais</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="fullName">Nome completo:</label>
            <input 
              type="text"
              id="fullName" 
              name="fullName" 
              placeholder="Digite seu nome completo"
              formControlName="fullName"
            />
        </div>
        <div class="form-group-row">
            <div class="form-group">
              <label for="dob">Data de nascimento:</label>
              <input 
                type="date" 
                id="dob" 
                name="dob" 
                formControlName="birthday"
              />
            </div>
            <div class="form-group">
              <label for="cpf">CPF:</label>
              <input 
                type="text" 
                id="cpf" 
                name="cpf"
                formControlName="cpf"
              />
            </div>
          </div>
        <div class="form-group-row">
            <div class="form-group">
                <label for="phone">Telefone celular:</label>
                <input 
                  type="tel"
                  id="phone"
                  name="phone"
                  formControlName="phone"
                />
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input 
                  type="email"
                  id="email"
                  name="email"
                  formControlName="email"
                />
            </div>
        </div>
        <div class="form-group-row">
            <div class="form-group">
                <label for="password">Senha:</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  formControlName="password"
                />
            </div>
            <div class="form-group">
                <label for="confirmPassword">Repita a senha:</label>
                <input 
                  type="password" 
                  id="confirmPassword" 
                  name="confirmPassword"
                  formControlName="confirmPassword"
                />
            </div>
        </div>
        <button type="submit" (click)="onSubmit()">Cadastrar</button>
    </form>
</div>


   <!-- <div class="register-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Full Name</label>
        <input
          type="text"
          formControlName="fullname"
          class="form-control"
        />
        @if (submitted && f['fullname'].errors) {
        <div class="invalid-feedback">
          @if (f['fullname'].errors['required']) {
          <div>Fullname is required</div>
          }
        </div>
        }
      </div>
  
      <div class="form-group">
        <label>Username</label>
        <input
          type="text"
          formControlName="username"
          class="form-control"
        />
        @if (submitted && f['username'].errors) {
        <div class="invalid-feedback">
          @if (f['username'].errors['required']) {
          <div>Username is required</div>
          } @if (f['username'].errors['minlength']) {
          <div>Username must be at least 6 characters</div>
          } @if (f['username'].errors['maxlength']) {
          <div>Username must not exceed 20 characters</div>
          }
        </div>
        }
      </div>
  
      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
        />
        @if (submitted && f['email'].errors) {
        <div class="invalid-feedback">
          @if (f['email'].errors['required']) {
          <div>Email is required</div>
          } @if (f['email'].errors['email']) {
          <div>Email is invalid</div>
          }
        </div>
        }
      </div>
  
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
        />
        @if (submitted && f['password'].errors) {
        <div class="invalid-feedback">
          @if (f['password'].errors['required']) {
          <div>Password is required</div>
          } @if (f['password'].errors['minlength']) {
          <div>Password must be at least 6 characters</div>
          } @if (f['password'].errors['maxlength']) {
          <div>Username must not exceed 40 characters</div>
          }
        </div>
        }
      </div>
  
      <div class="form-group">
        <label>Confirm Password</label>
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control"
        />
        @if (submitted && f['confirmPassword'].errors) {
        <div class="invalid-feedback">
          @if (f['confirmPassword'].errors['required']) {
          <div>Confirm Password is required</div>
          } @if (f['confirmPassword'].errors['matching']) {
          <div>Confirm Password does not match</div>
          }
        </div>
        }
      </div>
  
      <div class="form-group form-check">
        <input
          type="checkbox"
          formControlName="acceptTerms"
          class="form-check-input"
        />
        <label for="acceptTerms" class="form-check-label"
          >I have read and agree to the Terms</label
        >
        @if (submitted && f['acceptTerms'].errors) {
        <div class="invalid-feedback">Accept Terms is required</div>
        }
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
        <button
          type="button"
          (click)="onReset()"
          class="btn btn-warning float-right"
        >
          Reset
        </button>
      </div>
    </form>
  </div> -->
  