.produtos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px 0 70px;
    background-color: #ffffff;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    width: 460px;
    background-color: #ededed;
    padding: 8px 12px 8px 12px;
    font-size: 16px;
    border: 1px solid #D9D9D9;
    border-radius: 16px;
    outline: none;
}

.search-button {
    padding: 10px;
    border: none;
    border-radius: 0 4px 4px 0;
    color: 000000;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button i {
    font-size: 18px;
}