.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #E9D7E4;
    border-bottom: 1px solid #E9D7E4;
}

.logo img {
    height: 35px;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.header-buttons .btn {
    background-color: #E9D7E4;
    color: 000000;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.header-buttons .btn i {
    margin-left: 5px;
}

.header-buttons .btn:hover {
    color: #555;
}